<div *ngIf="originAirports == null && destinationAirports == null" class="container">
    <div class="col-md-12">
        <div class="page-loader"></div>
    </div>
</div>
<div class="page-content" *ngIf="originAirports != null && destinationAirports != null">
    <div *ngIf="isOriginAirportSelected == false" class="container">
        <h2 class="tittle padding-10">Origin Airports</h2>
        <h3 class="padding-10">Select an airport from where your journey will begin</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Code</th>
                <th>Distance</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airport of originAirports">
                <td>{{airport.name}}</td>
                <td>{{airport.city}}</td>
                <td>{{airport.code}}</td>
                <td>{{airport.distance}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-block search-btn" (click)="selectOriginAirport(airport)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="isOriginAirportSelected == true && isDestinationAirportSelected == false" class="container">
        <h2 class="tittle padding-10">Destination Airports</h2>
        <h3 class="padding-10">Select an airport at your destination</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Code</th>
                <th>Distance</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airport of destinationAirports">
            <tr *ngFor="let airport of destinationAirports">
                <td>{{airport.name}}</td>
                <td>{{airport.city}}</td>
                <td>{{airport.code}}</td>
                <td>{{airport.distance}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-block search-btn" (click)="selectDestinationAirport(airport)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--services--->
    <div *ngIf="isOriginAirportSelected == true && isDestinationAirportSelected == true" class="" id="services">
        <a routerLink="/flights">
            <button type="button" class="btn btn-primary btn-block search-btn">Search For Flights</button>
        </a>
        <!--services-->
    </div>
</div>