.padding-10{
  padding: 10px;
}

.popup {
  z-index: 1010; /* A value higher than 1010 that solves the problem */
  right: 0%;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 251px;
}

.padding-sides-10{
  padding-left: 10px;
  padding-right: 10px;
}

.search-btn {
  background: #007ea3;
}

.center-items{
}

.loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.page-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.page-content{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-big{
  width: 50%!important;
}