<div *ngIf="rentalCompanies == null" class="container">
    <div class="col-md-12">
        <div class="page-loader"></div>
    </div>
</div>

<div *ngIf="rentalCompanies != null" class="page-content">
    <div>
        <h2 class="tittle padding-10">Rental Vehicles</h2>
        <div class="container">
            <div *ngFor="let rentalCompany of rentalCompanies"class="row">
                <h3 class="">Rental Company: {{rentalCompany.name}}</h3>
                <h3 *ngIf="rentalCompanies.length == 0" class="error-message">No rentals found</h3>
                <p class="">Address: {{rentalCompany.street}}, {{rentalCompany.city}}, {{rentalCompany.state}}, {{rentalCompany.country}}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Transmission</th>
                        <th>Rate</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let rentalVehicle of rentalCompany.vehicles">
                        <td>
                            <span>{{rentalVehicle.vehicleType}}</span>
                        </td>
                        <td>
                            <span>{{rentalVehicle.category}}</span>
                        </td>
                        <td>
                            <span>{{rentalVehicle.transmission}}</span>
                        </td>
                        <td>
                            <span>{{rentalVehicle.rate}} {{rentalVehicle.currency}} {{rentalVehicle.rateType}}</span>
                        </td>
                        <td>
                            <span>{{rentalVehicle.total}} {{rentalVehicle.currency}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>