<div class="page-content" *ngIf="hotel != null">
    <div class="container">
        <h2 class="tittle padding-10">{{hotel.name}}</h2>
        <h3 class="padding-10">Details</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Total Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>{{hotel.name}}</b></td>
                <td>{{hotel.street}}</td>
                <td>{{hotel.city}}</td>
                <td>{{hotel.state}}</td>
                <td>{{hotel.country}}</td>
                <td><b>${{hotel.price}}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="hotelPhotos == null" class="container">
        <div class="col-md-12">
            <div class="page-loader"></div>
        </div>
    </div>
    <!--<div *ngIf="hotelPhotos != null" class="container center-items">-->
        <!---->
        <!--<h3 *ngIf="hotelPhotos.length == 0" class="error-message">No photos found</h3>-->
        <!--<div *ngFor="let photo of hotelPhotos" class="padding-10 center-block">-->
            <!--<div class="center-block">-->
                <!--<h3>{{photo.title}}</h3>-->
            <!--</div>-->
            <!--<a href="{{photo.href}}" class="b-link-stripe b-animate-go thickbox center-block">-->
                <!--<img src="{{photo.src}}" alt="{{photo.title}}" />-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <div *ngIf="hotelPhotos != null" class="container center-items">
        <h3 class="padding-10">Photos</h3>
        <h3 *ngIf="hotelPhotos.length == 0" class="error-message">No photos found</h3>
        <section class="section-white">
            <div class="container">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div *ngFor="let photo of hotelPhotos" class="padding-10 carousel-inner">
                        <div class="item active">
                            <img src="{{photo.src}}" alt="{{photo.title}}" />
                            <div class="carousel-caption">
                                <h2>{{photo.title}}</h2>
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
        </section>
    </div>
</div>
