<label>{{label}}</label>
<input [(ngModel)]="dateModel" class="form-control"     (focus)="showPopup()"/>
<datepicker class="popup" *ngIf="showDatepicker" [(ngModel)]="dateModel" (ngModelChange)="hidePopup($event)"></datepicker>