<label>{{label}}</label>
<div class="dropdown">
    <input #searchBox class="btn btn-default dropdown-toggle" id="place-search-box" value="{{placeModel.fullName}}" (keyup)="search(searchBox.value)"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
    <ul  class="dropdown-menu" aria-labelledby="place-search-box">
        <li *ngFor="let place of places | async" >
            <a (click)="selectedDestinationEvent(place)">{{place.fullName}}</a>
        </li>
    </ul>
</div>