<div *ngIf="departFlights == null || returnFlights == null" class="container">
    <div class="col-md-12">
        <div class="page-loader"></div>
    </div>
</div>

<div *ngIf="departFlights != null && returnFlights != null" class="page-content">
    <button *ngIf="hideDeparting == true" type="button" class="btn btn-primary btn-block btn-lg search-btn center-block padding-10 btn-big" (click)="switchFlights()">View departing flights</button>
    <button *ngIf="hideReturning == true" type="button" class="btn btn-primary btn-block btn-lg search-btn center-block padding-10 btn-big" (click)="switchFlights()">View returning flights</button>
    <br/>
    <div *ngIf="hideDeparting != true">
        <h2 class="tittle padding-10">Departing Flights</h2>
        <h3 *ngIf="departFlights.length == 0" class="error-message">No departing flights found</h3>
        <div *ngFor="let result of departFlights" class="container">
            <div *ngFor="let itinerary of result.itineraries" class="row">
                <h3 class=""> Fare : ${{result.fare}}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Departs</th>
                        <th>Arrives</th>
                        <th>Airline</th>
                        <th>Class</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let flight of itinerary.flights">
                        <td>
                            <span>{{flight.departDate}}</span><br>
                            <span>{{flight.origin}}</span>
                        </td>
                        <td>
                            <span>{{flight.arriveDate}}</span><br>
                            <span>{{flight.destination}}</span>
                        </td>
                        <td>
                            <span>{{flight.airline}}</span>
                        </td>
                        <td>
                            <span>{{flight.class}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="hideReturning != true">
        <h2 class="tittle padding-10">Returning Flights</h2>
        <h3 *ngIf="returnFlights.length == 0" class="error-message">No returning flights found</h3>
        <div *ngFor="let result of returnFlights" class="container">
            <div *ngFor="let itinerary of result.itineraries" class="row">
                <h3 class=""> Fare : ${{result.fare}}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Departs</th>
                        <th>Arrives</th>
                        <th>Airline</th>
                        <th>Class</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let flight of itinerary.flights">
                        <td>
                            <span>{{flight.departDate}}</span><br>
                            <span>{{flight.origin}}</span>
                        </td>
                        <td>
                            <span>{{flight.arriveDate}}</span><br>
                            <span>{{flight.destination}}</span>
                        </td>
                        <td>
                            <span>{{flight.airline}}</span>
                        </td>
                        <td>
                            <span>{{flight.class}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>