<!--services--->
<div class="about-section" id="services">
  <div class="container">
    <h3 class="tittle">Our Services</h3>
    <div class="about-grids">
      <div class="col-md-4 about-grid">
        <img src="/app/resources/images/tt3.png" class="img-responsive" alt=""/>
      </div>
      <div class="col-md-8 about-grid1 center-items">
        <div class="about-top">
        <div class="about-top">
        </div>
        <div class="about-top">
          <div class="about-left">
            <a routerLink="/home" fragment="my-banner">
              <i class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></i>
            </a>
          </div>
          <div class="about-right">
            <h4>Accommodation Search</h4>
            <p>A convenient place to search for accommodation</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="about-top1">
          <div class="about-left">
            <a routerLink="/home" fragment="my-banner">
              <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
            </a>
          </div>
          <div class="about-right">
            <h4>Cheap Flights Search</h4>
            <p>Search for cheap flights online to and from your destination</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="about-top1">
          <div class="about-left">
            <a routerLink="/home" fragment="my-banner">
              <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
            </a>
          </div>
          <div class="about-right">
            <h4>Vehicle Hire Search</h4>
            <p>Find the best available vehicles for hire</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--services-->
<!--top trips-->
<div class="promotions" id="trips">
  <div class="container">
    <h2 class="tittle">Top Trips</h2>
    <span>Most popular destinations</span>
    <div class="promotion-grids">
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p1.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>Cuba</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5> America </h5>
            </div>
            <div class="prom-right">
              <h5>  Luxury  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p2.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>Berlin</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5> Europe </h5>
            </div>
            <div class="prom-right">
              <h5>  Relax  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p3.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>Dubai</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5> Asia </h5>
            </div>
            <div class="prom-right">
              <h5>  Luxury  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="promotion-grids">
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p5.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>Rome</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5> Europe </h5>
            </div>
            <div class="prom-right">
              <h5>  Luxury  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p6.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>india</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5>  Asia </h5>
            </div>
            <div class="prom-right">
              <h5>  Relax  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 promation-grid">
        <img src="/app/resources/images/p4.jpg" class="img-responsive" alt=""/>
        <div class="prom-text">
          <h4>London</h4>
          <div class="prom-bottom">
            <div class="prom-left">
              <h5> Europe </h5>
            </div>
            <div class="prom-right">
              <h5>  Relax  </h5>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--top trips-->

<!--gallery-->
<div class="gallery" id="gallery">
  <div class="container">
    <h3 class="tittle">Gallery</h3>
    <div class="gallery-grids">
      <section>
        <ul id="da-thumbs" class="da-thumbs">
          <li>
            <a href="/app/resources/images/a1.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a1.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a2.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a2.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a3.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a3.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a4.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a4.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a5.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a5.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a6.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a6.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a7.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a7.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a1.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a1.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
          <li>
            <a href="/app/resources/images/a2.jpg" class="b-link-stripe b-animate-go thickbox">
              <img src="/app/resources/images/a2.jpg" alt="" />
              <div>
                <h5>{{title}}</h5>
              </div>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </section>
    </div>
    <script type="text/javascript" src="/app/resources/js/jquery.hoverdir.js"></script>
    <script type="text/javascript">
      $(function() {
        $('#da-thumbs > li').each( function() { $(this).hoverdir(); } );
      });
    </script>
  </div>
</div>
<!--gallery-->