<!--services--->
<div class="page-content" id="services">
  <div class="container">
    <h3 class="tittle">Select a service</h3>
    <div class="about-grids">
      <div class="col-md-4 about-grid">
        <img src="/app/resources/images/tt5.png" class="img-responsive" alt=""/>
      </div>
      <div class="col-md-8 about-grid1 center-items">
        <div class="about-top">
          <div class="about-top">
          </div>
          <div class="about-top">
            <div class="about-left">
              <a routerLink="/hotels">
                <i class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/hotels" class="about-right">
              <h4>Accommodation Search</h4>
              <p>A convenient place to search for accommodation</p>
            </a>
            <div class="clearfix"></div>
          </div>
          <div class="about-top1">
            <div class="about-left">
              <a routerLink="/airports">
                <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
              </a>
            </div>
            <a routerLink="/airports" class="about-right">
              <h4>Cheap Flights Search</h4>
              <p>Search for cheap flights online to and from your destination</p>
            </a>
            <div class="clearfix"></div>
          </div>
          <div class="about-top1">
            <a routerLink="/transport" class="about-left">
              <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
            </a>
            <a routerLink="/transport" class="about-right">
              <h4>Vehicle Hire Search</h4>
              <p>Find the best available vehicles for hire</p>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--services-->
</div>