<!--Header-->
<div class="header">
    <div class="container">
        <div class="header-menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand logo">
                            <h1><a href="index.html">{{title}}</a></h1>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav cl-effect-11">
                            <li class="active"><a routerLink="/home" routerLinkActive="active" data-hover="Home" class="scroll">Home</a></li>
                            <li><a routerLink="/home" fragment="services" href="#services" routerLinkActive="active" data-hover="Services" class="scroll">Services</a></li>
                            <li><a routerLink="/home" fragment="trips" routerLinkActive="active" data-hover="Trips" class="scroll">Trips</a></li>
                            <li><a routerLink="/home" fragment="gallery" routerLinkActive="active" data-hover="Gallery" class="scroll">Gallery</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--Banner-->
<my-banner id="my-banner" ></my-banner>

<!--Content-->
<div class="content">
    <router-outlet></router-outlet>
</div>

<!--Footer-->
<div class="copy-section">
    <div class="container">
        <div class="footer-top">
            <p>&copy; 2016 {{title}}. All rights reserved .</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>

<a href="#" id="home" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="news-gr">
                    <img src="app/resources/images/p6.jpg" class="img-responsive" />
                    <h3 class="tittle1">Trip Guide</h3>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>

                </div>
            </div>
        </div>
    </div>
</div>

