<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<div class="banner-section">
  <div class="container">
    <div class="banner-heder">
      <h3>Lets plan a trip!<span>Where would you like to go?</span></h3>
    </div>
    <div class="banner-grids">
      <div class="row">
        <div class="col-md-3 search padding-10">
            <my-destination-search class="btn btn-default padding-10" [placeModel]="fromPlace" [label]="'Travelling from'" (placeChangeEvent)="fromPlaceEvent($event)"></my-destination-search>
        </div>
        <div class="col-md-3 search padding-10">
          <my-destination-search class="btn btn-default padding-10" [placeModel]="toPlace" [label]="'Travelling to'" (placeChangeEvent)="toPlaceEvent($event)"></my-destination-search>
        </div>
        <div class="col-md-3 search padding-10">
          <my-datepicker class="btn btn-default padding-10" [dateModel]="departDate" [label]="'Departure Date'" (dateChangeEvent)="departDateEvent($event)"></my-datepicker>
        </div>
        <div class="col-md-3 search padding-10">
          <my-datepicker class="btn btn-default padding-10" [dateModel]="returnDate" [label]="'Return Date'" (dateChangeEvent)="returnDateEvent($event)"></my-datepicker>
        </div>
        <div class="col-md-12 search padding-10">
          <div class="padding-10">
            <button type="button" class="btn btn-primary btn-block btn-lg search-btn" (click)="search()">Lets Go!</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>