<div *ngIf="hotels == null" class="container">
    <div class="col-md-12">
        <div class="page-loader"></div>
    </div>
</div>
<div class="page-content" *ngIf="hotels != null">
    <div class="container">
        <h2 class="tittle padding-10">Hotels</h2>
        <h3 *ngIf="hotels.length == 0" class="error-message">No hotels found</h3>
        <h3 *ngIf="hotels.length != 0" class="padding-10">All available hotels for your stay</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Total Cost</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels">
                <td><b>{{hotel.name}}</b></td>
                <td>{{hotel.street}}</td>
                <td>{{hotel.city}}</td>
                <td>{{hotel.state}}</td>
                <td>{{hotel.country}}</td>
                <td><b>${{hotel.price}}</b></td>
                <td>
                    <button type="button" class="btn btn-primary btn-block search-btn" (click)="selecthotel(hotel)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>